<html>
    <head>
        <title>{{ entry.entry }} - Academia Mongolica</title>
        <link rel="stylesheet" href="/static/styles.css" />
        <script type="text/javascript" src="/static/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="/static/jquery.autocomplete-min.js"></script>
        <script type="text/javascript" src="/static/json2.js"></script>
        <script type="text/javascript" src="/static/scripts.js"></script>
    </head>
    <body>
        <div align="right">
            {% if user %} 
                Сайн уу, <a target="_blank" href="http://twitter.com/{{ user }}">@{{ user }}</a>. 
            <a href="/twitter_out">Гарах</a>
            {% else %} 
                <a href="/twitter_auth">Twitter хэрэглэн нэвтэр</a>
            {% endif %}            
        </div>
        <div>
            <form action="" method="post">
                <input id="lookup" name="lookup" value="{{ entry.entry }}" /> 
                <button type="submit">Хай</button>
            </form>
        </div>
        <div id="description">
            <a target="_blank" href="http://twitter.com/{{ entry.user }}">@{{ entry.user }}</a>: {{ entry.description|escape }}
        </div>        
        <div id="translations">
            <h1>{{ entry.entry|escape }}</h1>
            {% if translations %}
                {% include "new_translation.html" %}
            {% else %}                
                {% include "new_entry.html" %}
            {% endif %}
            <div>
                {% for translation in translations %}
                    <div id="{{ translation.key.id }}" class="translation">
                        <div class="translation_text">
                            <a target="_blank" href="http://twitter.com/{{ translation.user }}">@{{ translation.user }}</a>:  
                            {{ translation.translation|escape }}
                            <div class="date">{{ translation.when|date:"Y.m.d H:i" }}</div>
                        </div>
                        <div>
                            <a href="javascript:;" title="Таалагдаж байна" 
                                onclick="vote({{ translation.key.id }}, 1);">
                                <img align="middle" border="0" src="/static/thumbs-up.gif" width="16" /></a> 
                            <a href="javascript:;" title="Таалагдахгүй байна"
                                onclick="vote( {{ translation.key.id }}, -1);">
                                <img align="middle" border="0" src="/static/thumbs-down.gif" width="16" /></a> 
                            <span>{{ translation.vote }}</span> саналтай
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="sidebar">
            <div id="updates" style="padding-left: 5px;">
                <h3>Өнөөдөр хэлэлцэх үгүүд (2011.01.06)</h3>
                <div>Сэдэв: Өгөгдлийн бүтэц</div>
                <div>
                    <a href="/107001">list</a> 
                    <a href="/15004">stack</a> 
                    <a href="/97002">queue</a> 
                    <a href="/24004">graph</a> 
                    <a href="/3005">node</a> 
                    <a href="/31004">edge</a> 
                    <a href="/108003">tree</a> 
                </div>
                <h3>Шинээр орсон үгүүд</h3>
                <ul>
                {% for entry in new_entries %}
                    <li><a href="/{{ entry.key.id }}">{{ entry.entry|escape }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div id="comments" style="display: none;">
                <div style="padding: 5px;">
                    <a href="javascript:;" onclick="$('#comments').hide(); $('#updates').fadeIn();">&lt; Хаа</a>
                </div>
                <iframe id="comments_window" 
                    width="100%" height="400" frameborder="0" scrolling="auto" 
                    marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </body>
</html>