body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
}

body, td, input, textarea {
    font-family: Arial;
    font-size: 13px;
}

input, textarea {
    border: solid 1px #cecece;
}

td {
    padding-top: 5px;
}

input[type="text"] {
    width: 100%;
    font-size: 15px;
    height: 28px;
    padding-left: 35px;
    background: url('/static/search-icon.png') no-repeat #fff;
}

textarea {
    width: 100%;
    height: 60px;
}

h1 {
    font-size: 22px;
}

div {
    margin-bottom: 3px;
}

form {
    background: #eee;
    padding: 10px;
}

a, a:visited {
    text-decoration: none;
    color: #0f48a6;
}

a:hover {
    text-decoration: underline;
}

#description {
    color: #666;
}

#translations {
    float: left;
    width: 50%;
}

#sidebar {
    float: right;
    width: 50%;
}

.selected  a {
    margin-right: 8px;
}

.today {
    background-color: AntiqueWhite;
}

.translation {
    border-bottom: solid 1px #eee;
    padding: 3px;
}

.translation:hover {
    cursor: pointer;
}


.translation_text {
    font-size: 15px;
}

.date {
    color: #aaa;
    font-size: smaller;
}

.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }